<div class="ui">
	<div class="lists">
		{{#each-in (group-by "list" model) as |list items|}}
		{{#draggable-object-target class="list" action=(action "updateItem" list)}}
			<header>{{list}}</header>
			<ul>
				{{#each items as |item|}}
          {{#draggable-object tagName="li" content=item}}
						{{#link-to "items.detail" item.id}}
							{{item.title}}
						{{/link-to}}
					{{/draggable-object}}
        {{/each}}
			</ul>
				{{new-item-form list=list onsubmit=(action "saveItem")}}
		{{/draggable-object-target}}
		{{/each-in}}

		<div class="">
			{{new-list-form onsubmit=(action "saveItem")}}
		</div>

	</div>
</div>
{{outlet}}
